.invert{
    filter: invert(1);
}
.footer{
    position: absolute;
    padding: 17px 3%;
   margin:  -64px auto;
}

.footer ul li{
    list-style: none;
    cursor: pointer;
}
.footer-icon{
    filter: invert(1);
   display: flex;
   margin: 40px 0;
   gap: 36px;
}
.footer-icon img{
    width: 29px;
    cursor: pointer;
}
.footer ul{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 21px 18px;
    margin-bottom: 30px;

}
.copyright{
    color: gray;
    font-size: 10px;
}
@media (max-width:600px) {
   .footer{
    padding: 23px 4%;
    padding-top: 37px;
   }
   .footer-icon img{
    width: 40px;
   }
   .footer ul{
    font-size: 15px;
   }
}
@media (max-width:800px){
    .footer{
        padding: 23px 4%;
        padding-top: 52px;
       }
       .footer-icon ul{
        grid-template-columns: auto auto;
        gap: 8px;
        
       }
}