.navbar{
    width: 100%;
    padding: 20px 4% 20px 6%;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #e5e5e5;;
    background-image: linear-gradient(180deg,rbga(0,0,0,0.7) 10%,transparent);
    position: fixed;
    z-index: 1;
}
.invert{
    filter: invert(1);

}
.nav-left{
    display: flex;
    align-items: baseline;
    gap: 90px;
}
.nav-left img{ 
        width: 138px;
    height: 51px;
}
.nav-left ul{
    display: flex;
    list-style: none;
    gap: 39px;
    
}
.nav-left ul li{
    font-size: 13px;
    cursor: pointer;
    padding: 5px;
    border-radius: 15px;
    transition: all 0.3s ease-out;
}
.nav-left ul li:hover{
    background: #6d6d6eb3;
   
}
.nav-right{
    display: flex;
    align-items:end;
    gap: 55px;
}
.nav-right .search{
    align-items: center;
   
}
.nav-right .search img{
   cursor: pointer; 
   
}

.nav-right .icons{
     cursor: pointer;
    
}
.nav-right  img{
   width: 32px; 

}
.nav-profile{
    display: flex;
    cursor: pointer;
    position: relative;
}
.nav-profile-container {
    position: relative;
    display: inline-block;
    padding: 5px;
  }
.nav-profile img{
    width: 23px;
}
.dropdown{
    position: absolute;
    top: 120%;
    right: 1px;
    width: max-content;
    padding: 6px 4px;
    border-radius: 7px;
    background-color: rgb(76, 75, 75);
    z-index: 1;
    display: none;
    text-decoration: underline;
    transition: all 1s ;
}
.navbar .dropdown p{
    font-size:13px ;
    cursor: pointer;
}
 
.nav-profile-container:hover .dropdown {
    display: block;
  }

.nav-dark{
    background: #141414;
    border-radius: 0px 0px 40px 40px;
}
@media (max-width:800px) {
    .navbar{
        padding: 20px, 5%;
    }
    .nav-left ul{
        display: none;
    }
    .nav-left img{
       height: 55px;
       width: 135px;
    }
}
@media (max-width:550px) {
    .nav-right img {
        width: 30px; 
     }
     .nav-profile img{
        width: 28px;
    }
    .nav-right{
        gap: 25px;
    }
    
}
